<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="test/phpunit/bootstrap.php"
	cacheResultFile="temp/.phpunit.result.cache"
>
	<!--	colors="true"-->
	<!--	backupGlobals="false"-->
	<!--	beStrictAboutChangesToGlobalState="true"-->
	<!--	beStrictAboutOutputDuringTests="true"-->
	<!--	beStrictAboutTestsThatDoNotTestAnything="true"-->
	<coverage>
		<include>
			<directory suffix=".php">src/php</directory>
		</include>
	</coverage>
	<testsuites>
		<testsuite name="all">
			<directory>test/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
